.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 42em;
	height: 55.08333em;
	border-style: none;
	display: block;
	margin: 0em;
	
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 42em;
}
.stl_06 {
	height: 5.508333em;
}
.stl_ie .stl_06 {
	height: 55.08333em;
}
@font-face {
	font-family:"CDHJOU+Gilroy-SemiBold";
	src:url("7a2be16c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 4.416667em;
	font-family: "CDHJOU+Gilroy-SemiBold";
	color: #221E1F;
}
.stl_08 {
	line-height: 1.225em;
}
.stl_09 {
	letter-spacing: -0.0114em;
}

.stl_ie .stl_09 {
	letter-spacing: -0.8045px;
}
.stl_10 {
	font-size: 6.666667em;
	font-family: "CDHJOU+Gilroy-SemiBold";
	color: #221E1F;
}
.stl_11 {
	letter-spacing: -0.0245em;
}

.stl_ie .stl_11 {
	letter-spacing: -2.6133px;
}
@font-face {
	font-family:"RHNHAR+GuardianSansNarrow-Regular";
	src:url("fbd80038-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 2em;
	font-family: "RHNHAR+GuardianSansNarrow-Regular";
	color: #CB7B58;
}
.stl_13 {
	line-height: 1.268em;
}
.stl_14 {
	letter-spacing: -0.0106em;
}

.stl_ie .stl_14 {
	letter-spacing: -0.3388px;
}
@font-face {
	font-family:"SNVCGR+Gilroy-Medium";
	src:url("50f07178-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 1.833333em;
	font-family: "SNVCGR+Gilroy-Medium";
	color: #221E1F;
}
.stl_16 {
	line-height: 1.213em;
}
.stl_17 {
	letter-spacing: -0.0043em;
}

.stl_ie .stl_17 {
	letter-spacing: -0.1257px;
}
.stl_18 {
	letter-spacing: -0.0137em;
}

.stl_ie .stl_18 {
	letter-spacing: -0.4009px;
}
.stl_19 {
	letter-spacing: -0.0078em;
}

.stl_ie .stl_19 {
	letter-spacing: -0.2288px;
}
.stl_20 {
	letter-spacing: -0.0044em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.1291px;
}
.stl_21 {
	font-size: 1.5em;
	font-family: "SNVCGR+Gilroy-Medium";
	color: #221E1F;
}
.stl_22 {
	letter-spacing: -0.0115em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.276px;
}
.stl_23 {
	letter-spacing: -0.015em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.36px;
}
.stl_24 {
	letter-spacing: -0.0027em;
}

.stl_ie .stl_24 {
	letter-spacing: -0.066px;
}
.stl_25 {
	letter-spacing: -0.0055em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.132px;
}
@font-face {
	font-family:"QTQIPC+MyriadPro-SemiboldCond";
	src:url("4306abf8-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 1.666667em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
.stl_27 {
	line-height: 1.198em;
}
.stl_28 {
	letter-spacing: 0em;
}

.stl_ie .stl_28 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"FMNMWI+MyriadPro-SemiboldCondIt";
	src:url("94f62319-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_29 {
	font-size: 1.666667em;
	font-family: "FMNMWI+MyriadPro-SemiboldCondIt";
	color: #000000;
}
.stl_30 {
	line-height: 1.196em;
}
@font-face {
	font-family:"OMKQWP+MinionPro-Regular";
	src:url("be70e578-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_31 {
	font-size: 0.833333em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #000000;
}
.stl_32 {
	line-height: 1.349em;
}
.stl_33 {
	letter-spacing: -0.0021em;
}

.stl_ie .stl_33 {
	letter-spacing: -0.0286px;
}
.stl_34 {
	letter-spacing: -0.095em;
}

.stl_ie .stl_34 {
	letter-spacing: -1.2667px;
}
.stl_35 {
	letter-spacing: -0.0014em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.0181px;
}
.stl_36 {
	letter-spacing: -0.0019em;
}

.stl_ie .stl_36 {
	letter-spacing: -0.0252px;
}
.stl_37 {
	letter-spacing: 0.0002em;
}

.stl_ie .stl_37 {
	letter-spacing: 0.0022px;
}
.stl_38 {
	letter-spacing: -0.0024em;
}

.stl_ie .stl_38 {
	letter-spacing: -0.0322px;
}
.stl_39 {
	letter-spacing: -0.0017em;
}

.stl_ie .stl_39 {
	letter-spacing: -0.023px;
}
@font-face {
	font-family:"MDUKGT+MinionPro-It";
	src:url("882e5272-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_40 {
	font-size: 0.833333em;
	font-family: "MDUKGT+MinionPro-It";
	color: #000000;
}
.stl_41 {
	line-height: 1.362em;
}
.stl_42 {
	letter-spacing: -0.0069em;
}

.stl_ie .stl_42 {
	letter-spacing: -0.0915px;
}
.stl_43 {
	letter-spacing: -0.0036em;
}

.stl_ie .stl_43 {
	letter-spacing: -0.0474px;
}
.stl_44 {
	letter-spacing: -0.0081em;
}

.stl_ie .stl_44 {
	letter-spacing: -0.1077px;
}
.stl_45 {
	letter-spacing: -0.0092em;
}

.stl_ie .stl_45 {
	letter-spacing: -0.1224px;
}
.stl_46 {
	letter-spacing: -0.0013em;
}

.stl_ie .stl_46 {
	letter-spacing: -0.0179px;
}
.stl_47 {
	letter-spacing: -0.003em;
}

.stl_ie .stl_47 {
	letter-spacing: -0.04px;
}
.stl_48 {
	letter-spacing: -0.0018em;
}

.stl_ie .stl_48 {
	letter-spacing: -0.0239px;
}
.stl_49 {
	letter-spacing: -0.0093em;
}

.stl_ie .stl_49 {
	letter-spacing: -0.1244px;
}
.stl_50 {
	letter-spacing: -0.0089em;
}

.stl_ie .stl_50 {
	letter-spacing: -0.1185px;
}
.stl_51 {
	letter-spacing: -0.0039em;
}

.stl_ie .stl_51 {
	letter-spacing: -0.0518px;
}
.stl_52 {
	letter-spacing: -0.097em;
}

.stl_ie .stl_52 {
	letter-spacing: -1.2934px;
}
.stl_53 {
	letter-spacing: -0.0006em;
}

.stl_ie .stl_53 {
	letter-spacing: -0.0075px;
}
.stl_54 {
	letter-spacing: -0.002em;
}

.stl_ie .stl_54 {
	letter-spacing: -0.0271px;
}
.stl_55 {
	letter-spacing: -0.0038em;
}

.stl_ie .stl_55 {
	letter-spacing: -0.0511px;
}
.stl_56 {
	letter-spacing: -0.0083em;
}

.stl_ie .stl_56 {
	letter-spacing: -0.1103px;
}
.stl_57 {
	letter-spacing: -0.0011em;
}

.stl_ie .stl_57 {
	letter-spacing: -0.0142px;
}
.stl_58 {
	letter-spacing: -0.0099em;
}

.stl_ie .stl_58 {
	letter-spacing: -0.1323px;
}
.stl_59 {
	letter-spacing: -0.0094em;
}

.stl_ie .stl_59 {
	letter-spacing: -0.125px;
}
.stl_60 {
	font-size: 0.958333em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
.stl_61 {
	font-size: 2.625em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
@font-face {
	font-family:"FLBDDF+MinionPro-SemiboldIt";
	src:url("71f74dd5-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_62 {
	font-size: 1.5em;
	font-family: "FLBDDF+MinionPro-SemiboldIt";
	color: #000000;
}
.stl_63 {
	line-height: 1.381em;
}
.stl_64 {
	font-size: 1.333333em;
	font-family: "FLBDDF+MinionPro-SemiboldIt";
	color: #000000;
}
.stl_65 {
	letter-spacing: -0.007em;
}

.stl_ie .stl_65 {
	letter-spacing: -0.1484px;
}
.stl_66 {
	letter-spacing: -0.0071em;
}

.stl_ie .stl_66 {
	letter-spacing: -0.1507px;
}
@font-face {
	font-family:"ACKLWI+MyriadPro-Cond";
	src:url("ac9d461e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_67 {
	font-size: 1.020966em;
	font-family: "ACKLWI+MyriadPro-Cond";
	color: #000000;
}
.stl_68 {
	line-height: 1.185em;
}
.stl_69 {
	font-size: 0.833333em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
.stl_70 {
	font-size: 0.708333em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #000000;
}
.stl_71 {
	letter-spacing: -0.0029em;
}

.stl_ie .stl_71 {
	letter-spacing: -0.0325px;
}
.stl_72 {
	letter-spacing: -0.0022em;
}

.stl_ie .stl_72 {
	letter-spacing: -0.0255px;
}
.stl_73 {
	letter-spacing: -0.001em;
}

.stl_ie .stl_73 {
	letter-spacing: -0.011px;
}
.stl_74 {
	letter-spacing: -0.0008em;
}

.stl_ie .stl_74 {
	letter-spacing: -0.0093px;
}
.stl_75 {
	font-size: 0.708333em;
	font-family: "MDUKGT+MinionPro-It";
	color: #990000;
}
.stl_76 {
	letter-spacing: -0.0086em;
}

.stl_ie .stl_76 {
	letter-spacing: -0.0976px;
}
.stl_77 {
	letter-spacing: -0.0016em;
}

.stl_ie .stl_77 {
	letter-spacing: -0.0183px;
}
.stl_78 {
	letter-spacing: -0.0007em;
}

.stl_ie .stl_78 {
	letter-spacing: -0.0083px;
}
.stl_79 {
	font-size: 0.708333em;
	font-family: "MDUKGT+MinionPro-It";
	color: #000000;
}
.stl_80 {
	font-size: 0.75em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
.stl_81 {
	letter-spacing: -0.0058em;
}

.stl_ie .stl_81 {
	letter-spacing: -0.0656px;
}
.stl_82 {
	letter-spacing: -0.0063em;
}

.stl_ie .stl_82 {
	letter-spacing: -0.0718px;
}
.stl_83 {
	letter-spacing: -0.0012em;
}

.stl_ie .stl_83 {
	letter-spacing: -0.0139px;
}
.stl_84 {
	letter-spacing: -0.0023em;
}

.stl_ie .stl_84 {
	letter-spacing: -0.0258px;
}
.stl_85 {
	letter-spacing: -0.0048em;
}

.stl_ie .stl_85 {
	letter-spacing: -0.0548px;
}
.stl_86 {
	letter-spacing: -0.0087em;
}

.stl_ie .stl_86 {
	letter-spacing: -0.0982px;
}
.stl_87 {
	letter-spacing: -0.0002em;
}

.stl_ie .stl_87 {
	letter-spacing: -0.0028px;
}
.stl_88 {
	letter-spacing: -0.0005em;
}

.stl_ie .stl_88 {
	letter-spacing: -0.0062px;
}
.stl_89 {
	font-size: 2.101667em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
.stl_90 {
	font-size: 1em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #221E1F;
}
.stl_91 {
	font-size: 1em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
.stl_92 {
	font-size: 0.875em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #221E1F;
}
.stl_93 {
	letter-spacing: -0.008em;
}

.stl_ie .stl_93 {
	letter-spacing: -0.112px;
}
.stl_94 {
	letter-spacing: -0.135em;
}

.stl_ie .stl_94 {
	letter-spacing: -1.89px;
}
.stl_95 {
	letter-spacing: -0.0009em;
}

.stl_ie .stl_95 {
	letter-spacing: -0.0127px;
}
.stl_96 {
	letter-spacing: -0.0066em;
}

.stl_ie .stl_96 {
	letter-spacing: -0.0926px;
}
.stl_97 {
	letter-spacing: -0.0015em;
}

.stl_ie .stl_97 {
	letter-spacing: -0.0205px;
}
.stl_98 {
	letter-spacing: -0.0075em;
}

.stl_ie .stl_98 {
	letter-spacing: -0.1056px;
}
.stl_99 {
	letter-spacing: -0.0032em;
}

.stl_ie .stl_99 {
	letter-spacing: -0.0442px;
}
.stl_100 {
	letter-spacing: -0.0052em;
}

.stl_ie .stl_100 {
	letter-spacing: -0.0726px;
}
.stl_101 {
	letter-spacing: -0.0072em;
}

.stl_ie .stl_101 {
	letter-spacing: -0.1006px;
}
.stl_102 {
	letter-spacing: 0.0006em;
}

.stl_ie .stl_102 {
	letter-spacing: 0.0078px;
}
.stl_103 {
	letter-spacing: -0.0059em;
}

.stl_ie .stl_103 {
	letter-spacing: -0.082px;
}
.stl_104 {
	letter-spacing: 0.0048em;
}

.stl_ie .stl_104 {
	letter-spacing: 0.0677px;
}
.stl_105 {
	letter-spacing: -0.098em;
}

.stl_ie .stl_105 {
	letter-spacing: -1.372px;
}
.stl_106 {
	letter-spacing: 0.0014em;
}

.stl_ie .stl_106 {
	letter-spacing: 0.0193px;
}
.stl_107 {
	letter-spacing: -0.0045em;
}

.stl_ie .stl_107 {
	letter-spacing: -0.063px;
}
.stl_108 {
	letter-spacing: -0.0046em;
}

.stl_ie .stl_108 {
	letter-spacing: -0.0644px;
}
.stl_109 {
	letter-spacing: -0.122em;
}

.stl_ie .stl_109 {
	letter-spacing: -1.708px;
}
.stl_110 {
	letter-spacing: -0.0119em;
}

.stl_ie .stl_110 {
	letter-spacing: -0.166px;
}
.stl_111 {
	letter-spacing: -0.0061em;
}

.stl_ie .stl_111 {
	letter-spacing: -0.0851px;
}
.stl_112 {
	letter-spacing: 0.0009em;
}

.stl_ie .stl_112 {
	letter-spacing: 0.0132px;
}
.stl_113 {
	letter-spacing: -0.099em;
}

.stl_ie .stl_113 {
	letter-spacing: -1.386px;
}
.stl_114 {
	letter-spacing: -0.0025em;
}

.stl_ie .stl_114 {
	letter-spacing: -0.0355px;
}
.stl_115 {
	letter-spacing: -0.0042em;
}

.stl_ie .stl_115 {
	letter-spacing: -0.0595px;
}
.stl_116 {
	letter-spacing: -0.0065em;
}

.stl_ie .stl_116 {
	letter-spacing: -0.0906px;
}
.stl_117 {
	letter-spacing: 0.0001em;
}

.stl_ie .stl_117 {
	letter-spacing: 0.0016px;
}
.stl_118 {
	letter-spacing: -0.0282em;
}

.stl_ie .stl_118 {
	letter-spacing: -0.3948px;
}
.stl_119 {
	letter-spacing: 0.0027em;
}

.stl_ie .stl_119 {
	letter-spacing: 0.0381px;
}
.stl_120 {
	letter-spacing: -0.0031em;
}

.stl_ie .stl_120 {
	letter-spacing: -0.0434px;
}
.stl_121 {
	letter-spacing: -0.0095em;
}

.stl_ie .stl_121 {
	letter-spacing: -0.133px;
}
.stl_122 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_122 {
	letter-spacing: -0.0014px;
}
.stl_123 {
	letter-spacing: -0.0026em;
}

.stl_ie .stl_123 {
	letter-spacing: -0.0368px;
}
.stl_124 {
	letter-spacing: -0.0035em;
}

.stl_ie .stl_124 {
	letter-spacing: -0.0496px;
}
.stl_125 {
	letter-spacing: 0.0004em;
}

.stl_ie .stl_125 {
	letter-spacing: 0.0061px;
}
.stl_126 {
	letter-spacing: 0.0003em;
}

.stl_ie .stl_126 {
	letter-spacing: 0.0035px;
}
.stl_127 {
	letter-spacing: -0.092em;
}

.stl_ie .stl_127 {
	letter-spacing: -1.288px;
}
.stl_128 {
	letter-spacing: -0.0112em;
}

.stl_ie .stl_128 {
	letter-spacing: -0.1563px;
}
.stl_129 {
	letter-spacing: -0.0056em;
}

.stl_ie .stl_129 {
	letter-spacing: -0.0789px;
}
.stl_130 {
	letter-spacing: -0.0176em;
}

.stl_ie .stl_130 {
	letter-spacing: -0.2467px;
}
.stl_131 {
	letter-spacing: -0.0074em;
}

.stl_ie .stl_131 {
	letter-spacing: -0.104px;
}
.stl_132 {
	letter-spacing: -0.0033em;
}

.stl_ie .stl_132 {
	letter-spacing: -0.0467px;
}
.stl_133 {
	letter-spacing: 0.0017em;
}

.stl_ie .stl_133 {
	letter-spacing: 0.0239px;
}
.stl_134 {
	letter-spacing: 0.0011em;
}

.stl_ie .stl_134 {
	letter-spacing: 0.0156px;
}
.stl_135 {
	letter-spacing: 0.0015em;
}

.stl_ie .stl_135 {
	letter-spacing: 0.0214px;
}
.stl_136 {
	letter-spacing: -0.0088em;
}

.stl_ie .stl_136 {
	letter-spacing: -0.1235px;
}
.stl_137 {
	letter-spacing: 0.0016em;
}

.stl_ie .stl_137 {
	letter-spacing: 0.0222px;
}
.stl_138 {
	letter-spacing: -0.0037em;
}

.stl_ie .stl_138 {
	letter-spacing: -0.0513px;
}
.stl_139 {
	letter-spacing: -0.0051em;
}

.stl_ie .stl_139 {
	letter-spacing: -0.0711px;
}
.stl_140 {
	letter-spacing: -0.0004em;
}

.stl_ie .stl_140 {
	letter-spacing: -0.006px;
}
.stl_141 {
	letter-spacing: 0.0012em;
}

.stl_ie .stl_141 {
	letter-spacing: 0.0169px;
}
.stl_142 {
	letter-spacing: 0.0021em;
}

.stl_ie .stl_142 {
	letter-spacing: 0.029px;
}
.stl_143 {
	letter-spacing: -0.0028em;
}

.stl_ie .stl_143 {
	letter-spacing: -0.0397px;
}
.stl_144 {
	letter-spacing: -0.006em;
}

.stl_ie .stl_144 {
	letter-spacing: -0.084px;
}
.stl_145 {
	letter-spacing: -0.0053em;
}

.stl_ie .stl_145 {
	letter-spacing: -0.0735px;
}
.stl_146 {
	letter-spacing: 0.0022em;
}

.stl_ie .stl_146 {
	letter-spacing: 0.0311px;
}
.stl_147 {
	letter-spacing: -0.0091em;
}

.stl_ie .stl_147 {
	letter-spacing: -0.1268px;
}
.stl_148 {
	letter-spacing: -0.0041em;
}

.stl_ie .stl_148 {
	letter-spacing: -0.0573px;
}
.stl_149 {
	letter-spacing: -0.0082em;
}

.stl_ie .stl_149 {
	letter-spacing: -0.1148px;
}
.stl_150 {
	letter-spacing: -0.0049em;
}

.stl_ie .stl_150 {
	letter-spacing: -0.0686px;
}
.stl_151 {
	letter-spacing: -0.005em;
}

.stl_ie .stl_151 {
	letter-spacing: -0.07px;
}
.stl_152 {
	letter-spacing: -0.0057em;
}

.stl_ie .stl_152 {
	letter-spacing: -0.0793px;
}
.stl_153 {
	letter-spacing: -0.0064em;
}

.stl_ie .stl_153 {
	letter-spacing: -0.0894px;
}
.stl_154 {
	font-size: 0.875em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #000000;
}
.stl_155 {
	font-size: 0.875em;
	font-family: "MDUKGT+MinionPro-It";
	color: #000000;
}
.stl_156 {
	letter-spacing: -0.0105em;
}

.stl_ie .stl_156 {
	letter-spacing: -0.147px;
}
.stl_157 {
	letter-spacing: -0.0098em;
}

.stl_ie .stl_157 {
	letter-spacing: -0.1377px;
}
.stl_158 {
	letter-spacing: -0.0003em;
}

.stl_ie .stl_158 {
	letter-spacing: -0.0048px;
}
.stl_159 {
	font-size: 1.576667em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
@font-face {
	font-family:"CFDKGR+MyriadPro-SemiboldCond";
	src:url("0e333c31-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_160 {
	font-size: 1.576667em;
	font-family: "CFDKGR+MyriadPro-SemiboldCond", "Times New Roman";
	color: #000000;
}
.stl_161 {
	letter-spacing: -0.138em;
}

.stl_ie .stl_161 {
	letter-spacing: -1.932px;
}
.stl_162 {
	letter-spacing: -0.004em;
}

.stl_ie .stl_162 {
	letter-spacing: -0.0553px;
}
.stl_163 {
	font-size: 0.875em;
	font-family: "MDUKGT+MinionPro-It";
	color: #990000;
}
.stl_164 {
	letter-spacing: -0.0073em;
}

.stl_ie .stl_164 {
	letter-spacing: -0.1023px;
}
.stl_165 {
	letter-spacing: -0.146em;
}

.stl_ie .stl_165 {
	letter-spacing: -2.044px;
}
.stl_166 {
	font-size: 0.6em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #000000;
}
.stl_167 {
	font-size: 0.583333em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #000000;
}
.stl_168 {
	font-size: 0.666667em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #000000;
}
.stl_169 {
	letter-spacing: -0.0142em;
}

.stl_ie .stl_169 {
	letter-spacing: -0.1988px;
}
@font-face {
	font-family:"KSFBQW+UbuntuMono-Regular";
	src:url("e1e2e51a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_170 {
	font-size: 0.83125em;
	font-family: "KSFBQW+UbuntuMono-Regular";
	color: #000000;
}
.stl_171 {
	line-height: 1em;
}
@font-face {
	font-family:"BDFFWB+UbuntuMono-Bold";
	src:url("ef25414a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_172 {
	font-size: 0.83125em;
	font-family: "BDFFWB+UbuntuMono-Bold";
	color: #000000;
}
.stl_173 {
	line-height: 1.001em;
}
@font-face {
	font-family:"TOPBRM+UbuntuMono-Italic";
	src:url("0e49bcd0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_174 {
	font-size: 0.83125em;
	font-family: "TOPBRM+UbuntuMono-Italic";
	color: #000000;
}
.stl_175 {
	line-height: 1.005em;
}
.stl_176 {
	font-size: 0.8em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #000000;
}
.stl_177 {
	font-size: 0.8em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #990000;
}
.stl_178 {
	letter-spacing: 0.0013em;
}

.stl_ie .stl_178 {
	letter-spacing: 0.0171px;
}
.stl_179 {
	letter-spacing: -0.0197em;
}

.stl_ie .stl_179 {
	letter-spacing: -0.2753px;
}
.stl_180 {
	font-size: 1.314167em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
.stl_181 {
	letter-spacing: -0.0054em;
}

.stl_ie .stl_181 {
	letter-spacing: -0.0761px;
}
.stl_182 {
	font-size: 1.401667em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
.stl_183 {
	letter-spacing: -0.0047em;
}

.stl_ie .stl_183 {
	letter-spacing: -0.0665px;
}
.stl_184 {
	font-size: 0.875em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #990000;
}
.stl_185 {
	letter-spacing: 0.001em;
}

.stl_ie .stl_185 {
	letter-spacing: 0.0144px;
}
.stl_186 {
	letter-spacing: 0.2389em;
}

.stl_ie .stl_186 {
	letter-spacing: 3.178px;
}
.stl_187 {
	font-size: 0.666667em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #990000;
}
.stl_188 {
	letter-spacing: 0.0007em;
}

.stl_ie .stl_188 {
	letter-spacing: 0.0099px;
}
.stl_189 {
	letter-spacing: 0.0005em;
}

.stl_ie .stl_189 {
	letter-spacing: 0.0071px;
}
.stl_190 {
	letter-spacing: -0.009em;
}

.stl_ie .stl_190 {
	letter-spacing: -0.126px;
}
.stl_191 {
	letter-spacing: -0.0123em;
}

.stl_ie .stl_191 {
	letter-spacing: -0.1727px;
}
.stl_192 {
	letter-spacing: -0.0079em;
}

.stl_ie .stl_192 {
	letter-spacing: -0.1102px;
}
.stl_193 {
	font-size: 0.963333em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
.stl_194 {
	letter-spacing: -0.0067em;
}

.stl_ie .stl_194 {
	letter-spacing: -0.0938px;
}
.stl_195 {
	letter-spacing: 0.025em;
}

.stl_ie .stl_195 {
	letter-spacing: 0.35px;
}
.stl_196 {
	letter-spacing: -0.083em;
}

.stl_ie .stl_196 {
	letter-spacing: -1.162px;
}
.stl_197 {
	letter-spacing: -0.0139em;
}

.stl_ie .stl_197 {
	letter-spacing: -0.1949px;
}
.stl_198 {
	letter-spacing: 0.2942em;
}

.stl_ie .stl_198 {
	letter-spacing: 3.9122px;
}
.stl_199 {
	letter-spacing: 0.2442em;
}

.stl_ie .stl_199 {
	letter-spacing: 3.248px;
}
.stl_200 {
	font-size: 0.708333em;
	font-family: "KSFBQW+UbuntuMono-Regular";
	color: #000000;
}
.stl_201 {
	letter-spacing: -0.01em;
}

.stl_ie .stl_201 {
	letter-spacing: -0.14px;
}
.stl_202 {
	letter-spacing: -0.0102em;
}

.stl_ie .stl_202 {
	letter-spacing: -0.1431px;
}
.stl_203 {
	letter-spacing: 0.2972em;
}

.stl_ie .stl_203 {
	letter-spacing: 3.9521px;
}
.stl_204 {
	letter-spacing: 0.0024em;
}

.stl_ie .stl_204 {
	letter-spacing: 0.0258px;
}
.stl_205 {
	font-size: 0.75em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #FFFFFF;
}
.stl_206 {
	font-size: 0.75em;
	font-family: "ACKLWI+MyriadPro-Cond";
	color: #000000;
}
.stl_207 {
	letter-spacing: 0.2743em;
}

.stl_ie .stl_207 {
	letter-spacing: 3.6486px;
}
.stl_208 {
	letter-spacing: 0.2579em;
}

.stl_ie .stl_208 {
	letter-spacing: 3.43px;
}
.stl_209 {
	font-size: 0.5em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #000000;
}
.stl_210 {
	font-size: 0.63em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #000000;
}
.stl_211 {
	font-size: 0.633333em;
	font-family: "KSFBQW+UbuntuMono-Regular";
	color: #000000;
}
.stl_212 {
	font-size: 0.76em;
	font-family: "KSFBQW+UbuntuMono-Regular";
	color: #000000;
}
.stl_213 {
	letter-spacing: 0.2989em;
}

.stl_ie .stl_213 {
	letter-spacing: 3.6352px;
}
.stl_214 {
	letter-spacing: -0.0068em;
}

.stl_ie .stl_214 {
	letter-spacing: -0.0946px;
}
.stl_215 {
	letter-spacing: -0.0062em;
}

.stl_ie .stl_215 {
	letter-spacing: -0.0863px;
}
@font-face {
	font-family:"QPIGQA+MinionPro-It";
	src:url("668cc31f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_216 {
	font-size: 0.875em;
	font-family: "QPIGQA+MinionPro-It", "Times New Roman";
	color: #000000;
}
.stl_217 {
	letter-spacing: 0.0057em;
}

.stl_ie .stl_217 {
	letter-spacing: 0.0793px;
}
.stl_218 {
	letter-spacing: 0.2895em;
}

.stl_ie .stl_218 {
	letter-spacing: 3.85px;
}
.stl_219 {
	letter-spacing: -0.058em;
}

.stl_ie .stl_219 {
	letter-spacing: -0.812px;
}
.stl_220 {
	letter-spacing: 0.018em;
}

.stl_ie .stl_220 {
	letter-spacing: 0.252px;
}
.stl_221 {
	letter-spacing: -0.0128em;
}

.stl_ie .stl_221 {
	letter-spacing: -0.1789px;
}
.stl_222 {
	letter-spacing: -0.0034em;
}

.stl_ie .stl_222 {
	letter-spacing: -0.0475px;
}
.stl_223 {
	font-size: 0.875em;
	font-family: "QPIGQA+MinionPro-It", "Times New Roman";
	color: #990000;
}
.stl_224 {
	letter-spacing: -0.0125em;
}

.stl_ie .stl_224 {
	letter-spacing: -0.175px;
}
.stl_225 {
	letter-spacing: -0.0143em;
}

.stl_ie .stl_225 {
	letter-spacing: -0.2009px;
}
.stl_226 {
	letter-spacing: -0.0077em;
}

.stl_ie .stl_226 {
	letter-spacing: -0.1082px;
}
.stl_227 {
	letter-spacing: 0.0008em;
}

.stl_ie .stl_227 {
	letter-spacing: 0.0113px;
}
.stl_228 {
	letter-spacing: -0.041em;
}

.stl_ie .stl_228 {
	letter-spacing: -0.574px;
}
.stl_229 {
	font-size: 0.666667em;
	font-family: "MDUKGT+MinionPro-It";
	color: #000000;
}
.stl_230 {
	letter-spacing: -0.0085em;
}

.stl_ie .stl_230 {
	letter-spacing: -0.0907px;
}
.stl_231 {
	font-size: 0.666667em;
	font-family: "QPIGQA+MinionPro-It", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"WSIBBL+MinionPro-It";
	src:url("8f13cead-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_232 {
	font-size: 0.666667em;
	font-family: "WSIBBL+MinionPro-It", "Times New Roman";
	color: #000000;
}
.stl_233 {
	font-size: 0.75em;
	font-family: "CFDKGR+MyriadPro-SemiboldCond", "Times New Roman";
	color: #000000;
}
.stl_234 {
	letter-spacing: -0.012em;
}

.stl_ie .stl_234 {
	letter-spacing: -0.1605px;
}
.stl_235 {
	letter-spacing: -0.0195em;
}

.stl_ie .stl_235 {
	letter-spacing: -0.273px;
}
.stl_236 {
	font-size: 1.314167em;
	font-family: "CFDKGR+MyriadPro-SemiboldCond", "Times New Roman";
	color: #000000;
}
.stl_237 {
	letter-spacing: -0.029em;
}

.stl_ie .stl_237 {
	letter-spacing: -0.406px;
}
.stl_238 {
	font-size: 0.666667em;
	font-family: "MDUKGT+MinionPro-It";
	color: #990000;
}
.stl_239 {
	font-size: 1.25em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
.stl_240 {
	letter-spacing: -0.0101em;
}

.stl_ie .stl_240 {
	letter-spacing: -0.1412px;
}
.stl_241 {
	letter-spacing: 0.2547em;
}

.stl_ie .stl_241 {
	letter-spacing: 3.388px;
}
.stl_242 {
	letter-spacing: -0.017em;
}

.stl_ie .stl_242 {
	letter-spacing: -0.238px;
}
.stl_243 {
	letter-spacing: -0.0097em;
}

.stl_ie .stl_243 {
	letter-spacing: -0.1363px;
}
.stl_244 {
	letter-spacing: -0.0243em;
}

.stl_ie .stl_244 {
	letter-spacing: -0.3407px;
}
.stl_245 {
	letter-spacing: 0.2871em;
}

.stl_ie .stl_245 {
	letter-spacing: 3.8182px;
}
.stl_246 {
	letter-spacing: 0.2589em;
}

.stl_ie .stl_246 {
	letter-spacing: 3.1488px;
}
.stl_247 {
	letter-spacing: 0.0018em;
}

.stl_ie .stl_247 {
	letter-spacing: 0.0258px;
}
.stl_248 {
	letter-spacing: -0.0104em;
}

.stl_ie .stl_248 {
	letter-spacing: -0.1456px;
}
.stl_249 {
	letter-spacing: 0.2765em;
}

.stl_ie .stl_249 {
	letter-spacing: 3.6774px;
}
.stl_250 {
	letter-spacing: -0.0109em;
}

.stl_ie .stl_250 {
	letter-spacing: -0.1458px;
}
.stl_251 {
	letter-spacing: -0.011em;
}

.stl_ie .stl_251 {
	letter-spacing: -0.1467px;
}
.stl_252 {
	letter-spacing: 0.004em;
}

.stl_ie .stl_252 {
	letter-spacing: 0.056px;
}
.stl_253 {
	letter-spacing: 0.02em;
}

.stl_ie .stl_253 {
	letter-spacing: 0.28px;
}
.stl_254 {
	letter-spacing: 0.0053em;
}

.stl_ie .stl_254 {
	letter-spacing: 0.0747px;
}
.stl_255 {
	letter-spacing: -0.013em;
}

.stl_ie .stl_255 {
	letter-spacing: -0.182px;
}
.stl_256 {
	font-size: 0.875em;
	font-family: "WSIBBL+MinionPro-It", "Times New Roman";
	color: #000000;
}
.stl_257 {
	letter-spacing: -0.0076em;
}

.stl_ie .stl_257 {
	letter-spacing: -0.1064px;
}
.stl_258 {
	font-size: 1.083333em;
	font-family: "FLBDDF+MinionPro-SemiboldIt";
	color: #000000;
}
.stl_259 {
	letter-spacing: 0.2411em;
}

.stl_ie .stl_259 {
	letter-spacing: 3.206px;
}
.stl_260 {
	letter-spacing: 0.2974em;
}

.stl_ie .stl_260 {
	letter-spacing: 3.9553px;
}
.stl_261 {
	letter-spacing: 0.2621em;
}

.stl_ie .stl_261 {
	letter-spacing: 3.486px;
}
.stl_262 {
	letter-spacing: 0.2537em;
}

.stl_ie .stl_262 {
	letter-spacing: 3.374px;
}
.stl_263 {
	letter-spacing: 0.2774em;
}

.stl_ie .stl_263 {
	letter-spacing: 3.6892px;
}
.stl_264 {
	letter-spacing: 0.2421em;
}

.stl_ie .stl_264 {
	letter-spacing: 3.22px;
}
.stl_265 {
	font-size: 0.708333em;
	font-family: "BDFFWB+UbuntuMono-Bold";
	color: #000000;
}
.stl_266 {
	letter-spacing: 0.2453em;
}

.stl_ie .stl_266 {
	letter-spacing: 3.262px;
}
.stl_267 {
	letter-spacing: 0.2764em;
}

.stl_ie .stl_267 {
	letter-spacing: 3.6766px;
}
.stl_268 {
	letter-spacing: 0.0096em;
}

.stl_ie .stl_268 {
	letter-spacing: 0.1271px;
}
.stl_269 {
	letter-spacing: -0.0145em;
}

.stl_ie .stl_269 {
	letter-spacing: -0.203px;
}
.stl_270 {
	letter-spacing: 0.2695em;
}

.stl_ie .stl_270 {
	letter-spacing: 3.584px;
}
.stl_271 {
	letter-spacing: 0.2812em;
}

.stl_ie .stl_271 {
	letter-spacing: 3.7397px;
}
.stl_272 {
	letter-spacing: 0.2849em;
}

.stl_ie .stl_272 {
	letter-spacing: 3.7897px;
}
.stl_273 {
	letter-spacing: 0.0088em;
}

.stl_ie .stl_273 {
	letter-spacing: 0.1237px;
}
.stl_274 {
	letter-spacing: 0.277em;
}

.stl_ie .stl_274 {
	letter-spacing: 3.6839px;
}
.stl_275 {
	letter-spacing: 0.239em;
}

.stl_ie .stl_275 {
	letter-spacing: 2.9056px;
}
.stl_276 {
	letter-spacing: 0.2526em;
}

.stl_ie .stl_276 {
	letter-spacing: 3.36px;
}
.stl_277 {
	letter-spacing: 0.0036em;
}

.stl_ie .stl_277 {
	letter-spacing: 0.0508px;
}
.stl_278 {
	letter-spacing: 0.2824em;
}

.stl_ie .stl_278 {
	letter-spacing: 3.7555px;
}
.stl_279 {
	letter-spacing: -0.0265em;
}

.stl_ie .stl_279 {
	letter-spacing: -0.371px;
}
.stl_280 {
	letter-spacing: 0.227em;
}

.stl_ie .stl_280 {
	letter-spacing: 3.0191px;
}
.stl_281 {
	letter-spacing: 0.226em;
}

.stl_ie .stl_281 {
	letter-spacing: 3.0058px;
}
.stl_282 {
	letter-spacing: 0.2905em;
}

.stl_ie .stl_282 {
	letter-spacing: 3.8633px;
}
.stl_283 {
	letter-spacing: -0.0133em;
}

.stl_ie .stl_283 {
	letter-spacing: -0.1855px;
}
@font-face {
	font-family:"ENIBWM+MyriadPro-Cond";
	src:url("103530fb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_284 {
	font-size: 0.75em;
	font-family: "ENIBWM+MyriadPro-Cond", "Times New Roman";
	color: #000000;
}
.stl_285 {
	letter-spacing: 0.2674em;
}

.stl_ie .stl_285 {
	letter-spacing: 3.556px;
}
.stl_286 {
	font-size: 0.708333em;
	font-family: "TOPBRM+UbuntuMono-Italic";
	color: #000000;
}
.stl_287 {
	letter-spacing: 0.2012em;
}

.stl_ie .stl_287 {
	letter-spacing: 2.28px;
}
.stl_288 {
	letter-spacing: 0.2022em;
}

.stl_ie .stl_288 {
	letter-spacing: 2.292px;
}
.stl_289 {
	letter-spacing: 0.0019em;
}

.stl_ie .stl_289 {
	letter-spacing: 0.0271px;
}
.stl_290 {
	letter-spacing: 0.2777em;
}

.stl_ie .stl_290 {
	letter-spacing: 3.6939px;
}
.stl_291 {
	letter-spacing: 0.2842em;
}

.stl_ie .stl_291 {
	letter-spacing: 3.7794px;
}
.stl_292 {
	letter-spacing: 0.2796em;
}

.stl_ie .stl_292 {
	letter-spacing: 3.7183px;
}
.stl_293 {
	letter-spacing: 0.2869em;
}

.stl_ie .stl_293 {
	letter-spacing: 3.8157px;
}
.stl_294 {
	letter-spacing: -0.019em;
}

.stl_ie .stl_294 {
	letter-spacing: -0.2533px;
}
.stl_295 {
	letter-spacing: 0.2694em;
}

.stl_ie .stl_295 {
	letter-spacing: 3.0533px;
}
@font-face {
	font-family:"KPLGJN+MyriadPro-CondIt";
	src:url("a0c0effa-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_296 {
	font-size: 0.75em;
	font-family: "KPLGJN+MyriadPro-CondIt", "Times New Roman";
	color: #000000;
}
.stl_297 {
	line-height: 1.184em;
}
.stl_298 {
	letter-spacing: -0.0141em;
}

.stl_ie .stl_298 {
	letter-spacing: -0.197px;
}
.stl_299 {
	letter-spacing: 0.0082em;
}

.stl_ie .stl_299 {
	letter-spacing: 0.1148px;
}
.stl_300 {
	letter-spacing: 0.0026em;
}

.stl_ie .stl_300 {
	letter-spacing: 0.0369px;
}
.stl_301 {
	letter-spacing: -0.014em;
}

.stl_ie .stl_301 {
	letter-spacing: -0.1867px;
}
.stl_302 {
	letter-spacing: 0.2516em;
}

.stl_ie .stl_302 {
	letter-spacing: 3.346px;
}
.stl_303 {
	letter-spacing: -0.0124em;
}

.stl_ie .stl_303 {
	letter-spacing: -0.1651px;
}
.stl_304 {
	font-size: 0.833333em;
	font-family: "QPIGQA+MinionPro-It", "Times New Roman";
	color: #000000;
}
.stl_305 {
	letter-spacing: 0.24em;
}

.stl_ie .stl_305 {
	letter-spacing: 3.192px;
}
.stl_306 {
	letter-spacing: 0.2474em;
}

.stl_ie .stl_306 {
	letter-spacing: 3.008px;
}
.stl_307 {
	letter-spacing: 0.2851em;
}

.stl_ie .stl_307 {
	letter-spacing: 3.7922px;
}
.stl_308 {
	font-size: 0.963333em;
	font-family: "CFDKGR+MyriadPro-SemiboldCond", "Times New Roman";
	color: #000000;
}
.stl_309 {
	letter-spacing: 0.2632em;
}

.stl_ie .stl_309 {
	letter-spacing: 3.5px;
}
.stl_310 {
	letter-spacing: 0.006em;
}

.stl_ie .stl_310 {
	letter-spacing: 0.084px;
}
.stl_311 {
	letter-spacing: 0.2935em;
}

.stl_ie .stl_311 {
	letter-spacing: 3.9031px;
}
.stl_312 {
	letter-spacing: 0.0037em;
}

.stl_ie .stl_312 {
	letter-spacing: 0.0522px;
}
.stl_313 {
	letter-spacing: 0.005em;
}

.stl_ie .stl_313 {
	letter-spacing: 0.07px;
}
.stl_314 {
	letter-spacing: 0.0058em;
}

.stl_ie .stl_314 {
	letter-spacing: 0.0812px;
}
.stl_315 {
	letter-spacing: -0.0177em;
}

.stl_ie .stl_315 {
	letter-spacing: -0.2473px;
}
.stl_316 {
	letter-spacing: 0.2791em;
}

.stl_ie .stl_316 {
	letter-spacing: 3.3937px;
}
.stl_317 {
	letter-spacing: 0.26em;
}

.stl_ie .stl_317 {
	letter-spacing: 3.458px;
}
.stl_318 {
	letter-spacing: 0.2879em;
}

.stl_ie .stl_318 {
	letter-spacing: 3.8293px;
}
.stl_319 {
	letter-spacing: 0.2981em;
}

.stl_ie .stl_319 {
	letter-spacing: 3.9644px;
}
.stl_320 {
	letter-spacing: 0.135em;
}

.stl_ie .stl_320 {
	letter-spacing: 1.7955px;
}
.stl_321 {
	letter-spacing: 0.159em;
}

.stl_ie .stl_321 {
	letter-spacing: 2.1147px;
}
.stl_322 {
	letter-spacing: 0.2952em;
}

.stl_ie .stl_322 {
	letter-spacing: 3.9263px;
}
.stl_323 {
	letter-spacing: -0.025em;
}

.stl_ie .stl_323 {
	letter-spacing: -0.35px;
}
.stl_324 {
	letter-spacing: 0.0066em;
}

.stl_ie .stl_324 {
	letter-spacing: 0.0924px;
}
.stl_325 {
	letter-spacing: 0.0023em;
}

.stl_ie .stl_325 {
	letter-spacing: 0.032px;
}
.stl_326 {
	letter-spacing: 0.2994em;
}

.stl_ie .stl_326 {
	letter-spacing: 3.9827px;
}
.stl_327 {
	letter-spacing: -0.0127em;
}

.stl_ie .stl_327 {
	letter-spacing: -0.1785px;
}
.stl_328 {
	letter-spacing: 0.2984em;
}

.stl_ie .stl_328 {
	letter-spacing: 3.9682px;
}
.stl_329 {
	letter-spacing: 0.2653em;
}

.stl_ie .stl_329 {
	letter-spacing: 3.528px;
}
.stl_330 {
	letter-spacing: -0.0131em;
}

.stl_ie .stl_330 {
	letter-spacing: -0.14px;
}
.stl_331 {
	letter-spacing: -0.0407em;
}

.stl_ie .stl_331 {
	letter-spacing: -0.5693px;
}
.stl_332 {
	letter-spacing: 0.2923em;
}

.stl_ie .stl_332 {
	letter-spacing: 3.8875px;
}
.stl_333 {
	letter-spacing: 0.2969em;
}

.stl_ie .stl_333 {
	letter-spacing: 3.9489px;
}
.stl_334 {
	letter-spacing: 0.2568em;
}

.stl_ie .stl_334 {
	letter-spacing: 3.416px;
}
.stl_335 {
	letter-spacing: 0.2505em;
}

.stl_ie .stl_335 {
	letter-spacing: 3.332px;
}
.stl_336 {
	letter-spacing: 0.2815em;
}

.stl_ie .stl_336 {
	letter-spacing: 3.7439px;
}
.stl_337 {
	letter-spacing: -0.096em;
}

.stl_ie .stl_337 {
	letter-spacing: -1.344px;
}
.stl_338 {
	letter-spacing: 0.2663em;
}

.stl_ie .stl_338 {
	letter-spacing: 3.542px;
}
.stl_339 {
	letter-spacing: 0.2927em;
}

.stl_ie .stl_339 {
	letter-spacing: 3.8925px;
}
.stl_340 {
	letter-spacing: -0.0253em;
}

.stl_ie .stl_340 {
	letter-spacing: -0.354px;
}
.stl_341 {
	letter-spacing: 0.2977em;
}

.stl_ie .stl_341 {
	letter-spacing: 3.96px;
}
.stl_342 {
	letter-spacing: -0.0134em;
}

.stl_ie .stl_342 {
	letter-spacing: -0.1871px;
}
.stl_343 {
	font-size: 0.6em;
	font-family: "MDUKGT+MinionPro-It";
	color: #000000;
}
.stl_344 {
	letter-spacing: -0.0234em;
}

.stl_ie .stl_344 {
	letter-spacing: -0.3273px;
}
.stl_345 {
	letter-spacing: -0.0148em;
}

.stl_ie .stl_345 {
	letter-spacing: -0.2079px;
}
.stl_346 {
	letter-spacing: -0.0122em;
}

.stl_ie .stl_346 {
	letter-spacing: -0.1703px;
}
.stl_347 {
	letter-spacing: 0.0067em;
}

.stl_ie .stl_347 {
	letter-spacing: 0.0933px;
}
.stl_348 {
	letter-spacing: -0.0775em;
}

.stl_ie .stl_348 {
	letter-spacing: -1.085px;
}
.stl_349 {
	font-size: 0.791667em;
	font-family: "KSFBQW+UbuntuMono-Regular";
	color: #000000;
}
@font-face {
	font-family:"QJAFSA+UbuntuMono-BoldItalic";
	src:url("b2cf26d9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_350 {
	font-size: 0.708333em;
	font-family: "QJAFSA+UbuntuMono-BoldItalic";
	color: #000000;
}
.stl_351 {
	letter-spacing: 0.0028em;
}

.stl_ie .stl_351 {
	letter-spacing: 0.0395px;
}
.stl_352 {
	letter-spacing: -0.0108em;
}

.stl_ie .stl_352 {
	letter-spacing: -0.1517px;
}
.stl_353 {
	letter-spacing: 0.0072em;
}

.stl_ie .stl_353 {
	letter-spacing: 0.0773px;
}
.stl_354 {
	letter-spacing: -0.0129em;
}

.stl_ie .stl_354 {
	letter-spacing: -0.18px;
}
.stl_355 {
	letter-spacing: -0.0194em;
}

.stl_ie .stl_355 {
	letter-spacing: -0.2716px;
}
.stl_356 {
	letter-spacing: -0.0084em;
}

.stl_ie .stl_356 {
	letter-spacing: -0.1182px;
}
.stl_357 {
	letter-spacing: -0.0203em;
}

.stl_ie .stl_357 {
	letter-spacing: -0.2847px;
}
.stl_358 {
	letter-spacing: -0.0132em;
}

.stl_ie .stl_358 {
	letter-spacing: -0.1855px;
}
.stl_359 {
	letter-spacing: 0.2716em;
}

.stl_ie .stl_359 {
	letter-spacing: 3.612px;
}
.stl_360 {
	letter-spacing: -0.0113em;
}

.stl_ie .stl_360 {
	letter-spacing: -0.1587px;
}
.stl_361 {
	letter-spacing: 0.0032em;
}

.stl_ie .stl_361 {
	letter-spacing: 0.0451px;
}
.stl_362 {
	letter-spacing: 0.2726em;
}

.stl_ie .stl_362 {
	letter-spacing: 3.6259px;
}
.stl_363 {
	letter-spacing: 0.2888em;
}

.stl_ie .stl_363 {
	letter-spacing: 3.8404px;
}
.stl_364 {
	letter-spacing: 0.2809em;
}

.stl_ie .stl_364 {
	letter-spacing: 3.7362px;
}
.stl_365 {
	letter-spacing: 0.2705em;
}

.stl_ie .stl_365 {
	letter-spacing: 3.598px;
}
.stl_366 {
	letter-spacing: -0.0169em;
}

.stl_ie .stl_366 {
	letter-spacing: -0.2361px;
}
.stl_367 {
	letter-spacing: 0.207em;
}

.stl_ie .stl_367 {
	letter-spacing: 2.7531px;
}
.stl_368 {
	letter-spacing: 0.2877em;
}

.stl_ie .stl_368 {
	letter-spacing: 3.8262px;
}
.stl_369 {
	letter-spacing: 0.2684em;
}

.stl_ie .stl_369 {
	letter-spacing: 3.5699px;
}
.stl_370 {
	letter-spacing: 0.2949em;
}

.stl_ie .stl_370 {
	letter-spacing: 3.9221px;
}
.stl_371 {
	letter-spacing: -0.0152em;
}

.stl_ie .stl_371 {
	letter-spacing: -0.2122px;
}
.stl_372 {
	font-size: 0.8em;
	font-family: "MDUKGT+MinionPro-It";
	color: #000000;
}
.stl_373 {
	letter-spacing: 0.2642em;
}

.stl_ie .stl_373 {
	letter-spacing: 3.514px;
}
.stl_374 {
	letter-spacing: 0.279em;
}

.stl_ie .stl_374 {
	letter-spacing: 3.711px;
}
.stl_375 {
	letter-spacing: -0.0116em;
}

.stl_ie .stl_375 {
	letter-spacing: -0.1624px;
}
.stl_376 {
	letter-spacing: 0.2611em;
}

.stl_ie .stl_376 {
	letter-spacing: 3.472px;
}
.stl_377 {
	letter-spacing: -0.0387em;
}

.stl_ie .stl_377 {
	letter-spacing: -0.5413px;
}
.stl_378 {
	letter-spacing: 0.2882em;
}

.stl_ie .stl_378 {
	letter-spacing: 3.8326px;
}
.stl_379 {
	letter-spacing: -0.0268em;
}

.stl_ie .stl_379 {
	letter-spacing: -0.3757px;
}
.stl_380 {
	letter-spacing: 0.285em;
}

.stl_ie .stl_380 {
	letter-spacing: 3.7899px;
}
.stl_381 {
	letter-spacing: -0.0201em;
}

.stl_ie .stl_381 {
	letter-spacing: -0.2818px;
}
.stl_382 {
	font-size: 0.49875em;
	font-family: "KSFBQW+UbuntuMono-Regular";
	color: #000000;
}
.stl_383 {
	font-size: 0.5985em;
	font-family: "KSFBQW+UbuntuMono-Regular";
	color: #000000;
}
.stl_384 {
	letter-spacing: -0.0166em;
}

.stl_ie .stl_384 {
	letter-spacing: -0.232px;
}
.stl_385 {
	letter-spacing: 0.2737em;
}

.stl_ie .stl_385 {
	letter-spacing: 3.64px;
}
.stl_386 {
	letter-spacing: 0.2744em;
}

.stl_ie .stl_386 {
	letter-spacing: 3.6494px;
}
.stl_387 {
	letter-spacing: 0.2781em;
}

.stl_ie .stl_387 {
	letter-spacing: 3.6992px;
}
.stl_388 {
	letter-spacing: 0.2985em;
}

.stl_ie .stl_388 {
	letter-spacing: 3.9698px;
}
.stl_389 {
	letter-spacing: 0.2858em;
}

.stl_ie .stl_389 {
	letter-spacing: 3.8007px;
}
.stl_390 {
	letter-spacing: -0.0193em;
}

.stl_ie .stl_390 {
	letter-spacing: -0.2707px;
}
.stl_391 {
	letter-spacing: 0.2933em;
}

.stl_ie .stl_391 {
	letter-spacing: 3.901px;
}
.stl_392 {
	letter-spacing: 0.2761em;
}

.stl_ie .stl_392 {
	letter-spacing: 3.6718px;
}
.stl_393 {
	letter-spacing: -0.0107em;
}

.stl_ie .stl_393 {
	letter-spacing: -0.1503px;
}
.stl_394 {
	letter-spacing: 0.2864em;
}

.stl_ie .stl_394 {
	letter-spacing: 3.8085px;
}
.stl_395 {
	letter-spacing: -0.16em;
}

.stl_ie .stl_395 {
	letter-spacing: -2.24px;
}
.stl_396 {
	letter-spacing: 0.2853em;
}

.stl_ie .stl_396 {
	letter-spacing: 3.7945px;
}
.stl_397 {
	font-size: 0.74375em;
	font-family: "KSFBQW+UbuntuMono-Regular";
	color: #000000;
}
.stl_398 {
	font-size: 0.74375em;
	font-family: "BDFFWB+UbuntuMono-Bold";
	color: #000000;
}
.stl_399 {
	letter-spacing: 0.2919em;
}

.stl_ie .stl_399 {
	letter-spacing: 3.8819px;
}
.stl_400 {
	letter-spacing: 0.2768em;
}

.stl_ie .stl_400 {
	letter-spacing: 3.6814px;
}
.stl_401 {
	letter-spacing: -0.03em;
}

.stl_ie .stl_401 {
	letter-spacing: -0.42px;
}
.stl_402 {
	letter-spacing: 0.2484em;
}

.stl_ie .stl_402 {
	letter-spacing: 3.304px;
}
.stl_403 {
	letter-spacing: -0.0149em;
}

.stl_ie .stl_403 {
	letter-spacing: -0.2084px;
}
.stl_404 {
	letter-spacing: -0.0305em;
}

.stl_ie .stl_404 {
	letter-spacing: -0.427px;
}
.stl_405 {
	letter-spacing: 0.121em;
}

.stl_ie .stl_405 {
	letter-spacing: 1.694px;
}
.stl_406 {
	letter-spacing: -0.0184em;
}

.stl_ie .stl_406 {
	letter-spacing: -0.147px;
}
.stl_407 {
	letter-spacing: -0.0296em;
}

.stl_ie .stl_407 {
	letter-spacing: -0.414px;
}
.stl_408 {
	letter-spacing: 0.2463em;
}

.stl_ie .stl_408 {
	letter-spacing: 3.276px;
}
.stl_409 {
	letter-spacing: 0.2967em;
}

.stl_ie .stl_409 {
	letter-spacing: 3.9466px;
}
.stl_410 {
	letter-spacing: 0.297em;
}

.stl_ie .stl_410 {
	letter-spacing: 3.9497px;
}
.stl_411 {
	letter-spacing: 0.2758em;
}

.stl_ie .stl_411 {
	letter-spacing: 3.6676px;
}
.stl_412 {
	letter-spacing: 0.002em;
}

.stl_ie .stl_412 {
	letter-spacing: 0.028px;
}
.stl_413 {
	letter-spacing: 0.029em;
}

.stl_ie .stl_413 {
	letter-spacing: 0.406px;
}
.stl_414 {
	letter-spacing: -0.0117em;
}

.stl_ie .stl_414 {
	letter-spacing: -0.1632px;
}
.stl_415 {
	letter-spacing: 0.2943em;
}

.stl_ie .stl_415 {
	letter-spacing: 3.9141px;
}
.stl_416 {
	letter-spacing: 0.2808em;
}

.stl_ie .stl_416 {
	letter-spacing: 3.7343px;
}
.stl_417 {
	letter-spacing: -0.0185em;
}

.stl_ie .stl_417 {
	letter-spacing: -0.259px;
}
.stl_418 {
	letter-spacing: 0.2916em;
}

.stl_ie .stl_418 {
	letter-spacing: 3.878px;
}
.stl_419 {
	letter-spacing: 0.2915em;
}

.stl_ie .stl_419 {
	letter-spacing: 3.8773px;
}
.stl_420 {
	letter-spacing: 0.2495em;
}

.stl_ie .stl_420 {
	letter-spacing: 3.318px;
}
.stl_421 {
	letter-spacing: 0.0097em;
}

.stl_ie .stl_421 {
	letter-spacing: 0.1353px;
}
.stl_422 {
	letter-spacing: -0.0103em;
}

.stl_ie .stl_422 {
	letter-spacing: -0.1438px;
}
.stl_423 {
	letter-spacing: 0.0043em;
}

.stl_ie .stl_423 {
	letter-spacing: 0.06px;
}
.stl_424 {
	letter-spacing: 0.2936em;
}

.stl_ie .stl_424 {
	letter-spacing: 3.9049px;
}
.stl_425 {
	letter-spacing: 0.2801em;
}

.stl_ie .stl_425 {
	letter-spacing: 3.7248px;
}
.stl_426 {
	letter-spacing: 0.2806em;
}

.stl_ie .stl_426 {
	letter-spacing: 3.7322px;
}
.stl_427 {
	letter-spacing: 0.2958em;
}

.stl_ie .stl_427 {
	letter-spacing: 3.9338px;
}
.stl_428 {
	letter-spacing: 0.3em;
}

.stl_ie .stl_428 {
	letter-spacing: 3.9897px;
}
.stl_429 {
	letter-spacing: 0.0052em;
}

.stl_ie .stl_429 {
	letter-spacing: 0.0723px;
}
.stl_430 {
	letter-spacing: 0.2759em;
}

.stl_ie .stl_430 {
	letter-spacing: 3.4945px;
}
.stl_431 {
	letter-spacing: 0.2832em;
}

.stl_ie .stl_431 {
	letter-spacing: 3.766px;
}
.stl_432 {
	letter-spacing: -0.0118em;
}

.stl_ie .stl_432 {
	letter-spacing: -0.1652px;
}
.stl_433 {
	letter-spacing: 0.2975em;
}

.stl_ie .stl_433 {
	letter-spacing: 3.957px;
}
.stl_434 {
	letter-spacing: 0.0086em;
}

.stl_ie .stl_434 {
	letter-spacing: 0.12px;
}
.stl_435 {
	font-size: 0.708333em;
	font-family: "BDFFWB+UbuntuMono-Bold";
	color: #FFFFFF;
}
.stl_436 {
	letter-spacing: 0.2789em;
}

.stl_ie .stl_436 {
	letter-spacing: 3.71px;
}
.stl_437 {
	letter-spacing: 0.2906em;
}

.stl_ie .stl_437 {
	letter-spacing: 3.8655px;
}
.stl_438 {
	letter-spacing: -0.0111em;
}

.stl_ie .stl_438 {
	letter-spacing: -0.1553px;
}
.stl_439 {
	letter-spacing: -0.0126em;
}

.stl_ie .stl_439 {
	letter-spacing: -0.177px;
}
.stl_440 {
	letter-spacing: 0.0033em;
}

.stl_ie .stl_440 {
	letter-spacing: 0.0467px;
}
.stl_441 {
	letter-spacing: 0.289em;
}

.stl_ie .stl_441 {
	letter-spacing: 3.8441px;
}
.stl_442 {
	letter-spacing: 0.2913em;
}

.stl_ie .stl_442 {
	letter-spacing: 3.8742px;
}
.stl_443 {
	letter-spacing: -0.139em;
}

.stl_ie .stl_443 {
	letter-spacing: -1.946px;
}
.stl_444 {
	letter-spacing: 0.0046em;
}

.stl_ie .stl_444 {
	letter-spacing: 0.0607px;
}
.stl_445 {
	letter-spacing: -0.0138em;
}

.stl_ie .stl_445 {
	letter-spacing: -0.1937px;
}
.stl_446 {
	letter-spacing: 0.0041em;
}

.stl_ie .stl_446 {
	letter-spacing: 0.058px;
}
.stl_447 {
	letter-spacing: 0.2787em;
}

.stl_ie .stl_447 {
	letter-spacing: 3.7061px;
}
.stl_448 {
	letter-spacing: 0.0029em;
}

.stl_ie .stl_448 {
	letter-spacing: 0.0406px;
}
.stl_449 {
	letter-spacing: 0.2854em;
}

.stl_ie .stl_449 {
	letter-spacing: 3.7953px;
}
.stl_450 {
	letter-spacing: -0.0255em;
}

.stl_ie .stl_450 {
	letter-spacing: -0.357px;
}
.stl_451 {
	letter-spacing: 0.2783em;
}

.stl_ie .stl_451 {
	letter-spacing: 3.7018px;
}
.stl_452 {
	letter-spacing: 0.0025em;
}

.stl_ie .stl_452 {
	letter-spacing: 0.035px;
}
.stl_453 {
	letter-spacing: 0.2825em;
}

.stl_ie .stl_453 {
	letter-spacing: 3.7571px;
}
.stl_454 {
	letter-spacing: -0.15em;
}

.stl_ie .stl_454 {
	letter-spacing: -1.6px;
}
.stl_455 {
	letter-spacing: -0.02em;
}

.stl_ie .stl_455 {
	letter-spacing: -0.2133px;
}
.stl_456 {
	letter-spacing: 0.2833em;
}

.stl_ie .stl_456 {
	letter-spacing: 3.7685px;
}
.stl_457 {
	letter-spacing: 0.292em;
}

.stl_ie .stl_457 {
	letter-spacing: 3.8831px;
}
.stl_458 {
	letter-spacing: -0.0159em;
}

.stl_ie .stl_458 {
	letter-spacing: -0.222px;
}
.stl_459 {
	letter-spacing: 0.003em;
}

.stl_ie .stl_459 {
	letter-spacing: 0.042px;
}
.stl_460 {
	letter-spacing: 0.2831em;
}

.stl_ie .stl_460 {
	letter-spacing: 3.7649px;
}
.stl_461 {
	letter-spacing: 0.2953em;
}

.stl_ie .stl_461 {
	letter-spacing: 3.9272px;
}
.stl_462 {
	letter-spacing: 0.2973em;
}

.stl_ie .stl_462 {
	letter-spacing: 3.9535px;
}
.stl_463 {
	letter-spacing: 0.2875em;
}

.stl_ie .stl_463 {
	letter-spacing: 3.8238px;
}
.stl_464 {
	letter-spacing: 0.2932em;
}

.stl_ie .stl_464 {
	letter-spacing: 3.8997px;
}
.stl_465 {
	letter-spacing: 0.2814em;
}

.stl_ie .stl_465 {
	letter-spacing: 3.7427px;
}
.stl_466 {
	letter-spacing: -0.0205em;
}

.stl_ie .stl_466 {
	letter-spacing: -0.287px;
}
.stl_467 {
	letter-spacing: 0.2991em;
}

.stl_ie .stl_467 {
	letter-spacing: 3.9776px;
}
.stl_468 {
	letter-spacing: -0.018em;
}

.stl_ie .stl_468 {
	letter-spacing: -0.252px;
}
.stl_469 {
	letter-spacing: 0.2762em;
}

.stl_ie .stl_469 {
	letter-spacing: 3.6731px;
}
.stl_470 {
	letter-spacing: 0.2947em;
}

.stl_ie .stl_470 {
	letter-spacing: 3.92px;
}
.stl_471 {
	font-size: 0.833333em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #990000;
}
.stl_472 {
	letter-spacing: 0.293em;
}

.stl_ie .stl_472 {
	letter-spacing: 3.8975px;
}
.stl_473 {
	letter-spacing: 0.2795em;
}

.stl_ie .stl_473 {
	letter-spacing: 3.7173px;
}
.stl_474 {
	letter-spacing: 0.298em;
}

.stl_ie .stl_474 {
	letter-spacing: 3.9636px;
}
.stl_475 {
	letter-spacing: -0.0096em;
}

.stl_ie .stl_475 {
	letter-spacing: -0.1346px;
}
.stl_476 {
	letter-spacing: 0.2894em;
}

.stl_ie .stl_476 {
	letter-spacing: 3.8487px;
}
.stl_477 {
	letter-spacing: -0.0144em;
}

.stl_ie .stl_477 {
	letter-spacing: -0.2022px;
}
.stl_478 {
	letter-spacing: 0.2841em;
}

.stl_ie .stl_478 {
	letter-spacing: 3.7784px;
}
.stl_479 {
	letter-spacing: 0.249em;
}

.stl_ie .stl_479 {
	letter-spacing: 3.3117px;
}
.stl_480 {
	letter-spacing: -0.026em;
}

.stl_ie .stl_480 {
	letter-spacing: -0.364px;
}
.stl_481 {
	letter-spacing: 0.286em;
}

.stl_ie .stl_481 {
	letter-spacing: 3.804px;
}
.stl_482 {
	letter-spacing: 0.2951em;
}

.stl_ie .stl_482 {
	letter-spacing: 3.9247px;
}
.stl_483 {
	letter-spacing: -0.021em;
}

.stl_ie .stl_483 {
	letter-spacing: -0.294px;
}
.stl_484 {
	letter-spacing: -0.039em;
}

.stl_ie .stl_484 {
	letter-spacing: -0.546px;
}
.stl_485 {
	letter-spacing: -0.0179em;
}

.stl_ie .stl_485 {
	letter-spacing: -0.25px;
}
.stl_486 {
	letter-spacing: 0.0044em;
}

.stl_ie .stl_486 {
	letter-spacing: 0.0616px;
}
.stl_487 {
	letter-spacing: -0.0164em;
}

.stl_ie .stl_487 {
	letter-spacing: -0.2296px;
}
.stl_488 {
	letter-spacing: -0.0146em;
}

.stl_ie .stl_488 {
	letter-spacing: -0.2044px;
}
.stl_489 {
	letter-spacing: 0.2792em;
}

.stl_ie .stl_489 {
	letter-spacing: 3.7127px;
}
.stl_490 {
	letter-spacing: 0.2929em;
}

.stl_ie .stl_490 {
	letter-spacing: 3.8949px;
}
.stl_491 {
	font-size: 0.958333em;
	font-family: "CFDKGR+MyriadPro-SemiboldCond", "Times New Roman";
	color: #000000;
}
.stl_492 {
	font-size: 0.8em;
	font-family: "QPIGQA+MinionPro-It", "Times New Roman";
	color: #000000;
}
.stl_493 {
	letter-spacing: 0.2884em;
}

.stl_ie .stl_493 {
	letter-spacing: 3.8358px;
}
.stl_494 {
	letter-spacing: -0.0154em;
}

.stl_ie .stl_494 {
	letter-spacing: -0.216px;
}
.stl_495 {
	letter-spacing: -0.022em;
}

.stl_ie .stl_495 {
	letter-spacing: -0.308px;
}
.stl_496 {
	letter-spacing: 0.0109em;
}

.stl_ie .stl_496 {
	letter-spacing: 0.152px;
}
.stl_497 {
	letter-spacing: -0.093em;
}

.stl_ie .stl_497 {
	letter-spacing: -1.302px;
}
.stl_498 {
	letter-spacing: 0.0145em;
}

.stl_ie .stl_498 {
	letter-spacing: 0.203px;
}
.stl_499 {
	letter-spacing: -0.0147em;
}

.stl_ie .stl_499 {
	letter-spacing: -0.206px;
}
.stl_500 {
	letter-spacing: 0.0135em;
}

.stl_ie .stl_500 {
	letter-spacing: 0.189px;
}
.stl_501 {
	letter-spacing: 0.276em;
}

.stl_ie .stl_501 {
	letter-spacing: 3.6707px;
}
.stl_502 {
	letter-spacing: 0.0073em;
}

.stl_ie .stl_502 {
	letter-spacing: 0.1015px;
}
.stl_503 {
	letter-spacing: 0.0062em;
}

.stl_ie .stl_503 {
	letter-spacing: 0.0868px;
}
.stl_504 {
	letter-spacing: 0.0031em;
}

.stl_ie .stl_504 {
	letter-spacing: 0.0433px;
}
.stl_505 {
	letter-spacing: -0.0257em;
}

.stl_ie .stl_505 {
	letter-spacing: -0.3605px;
}
.stl_506 {
	letter-spacing: 0.2802em;
}

.stl_ie .stl_506 {
	letter-spacing: 3.7266px;
}
.stl_507 {
	letter-spacing: 0.22em;
}

.stl_ie .stl_507 {
	letter-spacing: 2.926px;
}
.stl_508 {
	letter-spacing: 0.2881em;
}

.stl_ie .stl_508 {
	letter-spacing: 3.8321px;
}
.stl_509 {
	font-size: 0.75em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #000000;
}
.stl_510 {
	font-size: 0.75em;
	font-family: "OMKQWP+MinionPro-Regular";
	color: #990000;
}
.stl_511 {
	font-size: 1.166667em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
.stl_512 {
	letter-spacing: 0.0034em;
}

.stl_ie .stl_512 {
	letter-spacing: 0.0411px;
}
.stl_513 {
	letter-spacing: 0.0039em;
}

.stl_ie .stl_513 {
	letter-spacing: 0.0464px;
}
.stl_514 {
	letter-spacing: -0.123em;
}

.stl_ie .stl_514 {
	letter-spacing: -1.476px;
}
.stl_515 {
	font-size: 1.3125em;
	font-family: "QTQIPC+MyriadPro-SemiboldCond";
	color: #000000;
}
@font-face {
	font-family:"SFVOJG+MinionPro-Bold";
	src:url("ae40f7bd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_516 {
	font-size: 0.875em;
	font-family: "SFVOJG+MinionPro-Bold";
	color: #000000;
}
.stl_517 {
	line-height: 1.384em;
}
.stl_518 {
	font-size: 1em;
	line-height: 0.0em;
	width: 45.5em;
	height: 58.58333em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_518 {overflow: hidden;}}
.stl_519 {
	position: relative;
	width: 45.5em;
}
.stl_520 {
	height: 5.858334em;
}
.stl_ie .stl_520 {
	height: 58.58333em;
}
@font-face {
	font-family:"MCPKDQ+Gilroy-SemiBold";
	src:url("04991b81-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_521 {
	font-size: 2.333333em;
	font-family: "MCPKDQ+Gilroy-SemiBold";
	color: #FFFFFF;
}
.stl_522 {
	letter-spacing: -0.0208em;
}

.stl_ie .stl_522 {
	letter-spacing: -0.7747px;
}
@font-face {
	font-family:"OUWTDE+Gilroy-Light";
	src:url("9ed34c82-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_523 {
	font-size: 1.291667em;
	font-family: "OUWTDE+Gilroy-Light";
	color: #FFFFFF;
}
.stl_524 {
	line-height: 1.2em;
}
.stl_525 {
	font-size: 1.416667em;
	font-family: "OUWTDE+Gilroy-Light";
	color: #FFFFFF;
}
.stl_526 {
	letter-spacing: -0.0229em;
}

.stl_ie .stl_526 {
	letter-spacing: -0.5181px;
}
.stl_527 {
	letter-spacing: -0.0241em;
}

.stl_ie .stl_527 {
	letter-spacing: -0.5465px;
}
